<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
   
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./doc02.css">
  <!--commonStyleHere-->
  <!--docStyleHere-->
</head>

<body>
  <!-- <div class="no-print guide"></div> -->
  <div class="content">
    <div class="row01 flex-row">
      <span>부가가치세법 시행규칙 [별지 제38호서식(1)]</span>
      <span>홈택스(www.hometax.go.kr)에서도 신청할 수 있습니다.</span>
    </div>

    <div class="row02 flex-row">매출처별 세금계산서합계표(갑)</div>

    <div class="row03 flex-row">
      2017년 제1기 ( 1월 1일 ~ 6월 30일)
    </div>

    <div class="row04 flex-row">
      <span>※ 뒤쪽의 작성방법을 읽고 작성하시기 바랍니다.</span>
      <span>(앞쪽)</span>
    </div>

    <div class="row05 flex-row">
      1. 제출자 인적사항
    </div>

    <div class="row06 flex-row">
      <div class="flex-row">
        <div class="label">① 사업자등록번호</div>
        <div class="data"></div>
      </div>
      <div class="flex-row">
        <div class="label">② 상호(법인명)</div>
        <div class="data">{{row06['상호']}}</div>
      </div>
    </div>

    <div class="row06 flex-row">
      <div class="flex-row">
        <div class="label">③ 성명(대표자)</div>
        <div class="data">김 국 세</div>
      </div>
      <div class="flex-row">
        <div class="label">④ 사업장 소재지</div>
        <div class="data">종로구 종로2가 xxx</div>
      </div>
    </div>

    <div class="row07 flex-row">
      <div class="flex-col">
        <div class="label">⑤ 거래기간</div>
        <div class="data">2017년 1월 1일 ~ 2017년 6월 30일</div>
      </div>
      <div class="flex-col">
        <div class="label">⑥ 작성일</div>
        <div class="data">2017년 6월 30일</div>
      </div>
    </div>

    <div class="row08 flex-row">
      2. 매출세금계산서 총합계
    </div>
    
    <div class="row09 flex-row">
      <table>
        <tr>
          <th class="th1" colspan="2" rowspan="2">구 분</th>
          <th class="th2" rowspan="2">⑦ <br> 매출<br>처수</th>
          <th class="th3" rowspan="2">⑧ <br> 매수</th>
          <th class="th4" colspan="5" style="border: 0vw; border-right: 1px solid black;">⑨ 공급가액</th>
          <th class="th5" colspan="5" style="border: 0vw;">⑩ 세액</th>
        </tr>
        <tr>
          <!-- 
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
          -->
          <td style="border: 0vw; width: 6%; height: 4vw;">조</td>
          <td style="border: 0vw; width: 6%">십억</td>
          <td style="border: 0vw; width: 6%">백만</td>
          <td style="border: 0vw; width: 6%">천</td>
          <td style="border: 0vw; width: 6%; border-right: 1px solid black">일</td>
          <td style="border: 0vw; width: 6%">조</td>
          <td style="border: 0vw; width: 6%">십억</td>
          <td style="border: 0vw; width: 6%">백만</td>
          <td style="border: 0vw; width: 6%">천</td>
          <td style="border: 0vw; width: 6%">일</td>
        </tr>
        <tr>
          <td colspan="2" style="height: 4vw;">합 계</td>
          <!-- <td></td> -->
          <td>2</td>
          <td>4</td>
          <td></td>
          <td></td>
          <td>130</td>
          <td>000</td>
          <td>000</td>
          <td></td>
          <td></td>
          <td>13</td>
          <td>000</td>
          <td>000</td>
        </tr>
        <tr>
          <td rowspan="3" style="width: 15%">
            과세기간 종료일<br> 
            다음 달 11일<br> 
            까지 전송된<br>
            전자 세금계산서<br> 
            발급분
          </td>
          <td style="width: 15%; height: 4vw;">
            사업자등록번호<br> 
            발급분
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td style="height: 4vw">
            주민등록번호<br> 
            발급분
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td style="height: 4vw">소 계</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td rowspan="3">
            위 전자<br> 
            세금계산서<br> 
            외 의<br> 
            발급분
          </td>
          <td style="height: 4vw">
            사업자등록번호<br> 
            발급받은 분
          </td>
          <td>2</td>
          <td>4</td>
          <td></td>
          <td></td>
          <td>130</td>
          <td>000</td>
          <td>000</td>
          <td></td>
          <td></td>
          <td>13</td>
          <td>000</td>
          <td>000</td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td style="height: 4vw">
            주민등록번호<br> 
            발급받은 분
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <!-- <td></td> -->
          <td style="height: 5vw">소 계</td>
          <td>2</td>
          <td>4</td>
          <td></td>
          <td></td>
          <td>130</td>
          <td>000</td>
          <td>000</td>
          <td></td>
          <td></td>
          <td>13</td>
          <td>000</td>
          <td>000</td>
        </tr>
      </table>
    </div>

    <div class="row10 flex-row">
      * 주민등록번호로 발급받은 세금계산서는 사업자등록 전 매입세액 공제를 받을 수 있는 세금계산서만 적습니다.
    </div>

    <div class="row11 flex-col">
      <div class="label">3. 과세기간 종료일 다음 달 11일까지 전송된 전자세금계산서 외 발급분 매출처별 명세</div>
      <div class="comment">(합계금액으로 적음)</div>
    </div>

    <div class="row12">
      <table>
        <tr>
          <th rowspan="2">
            ⑪<br>번호
          </th>
          <th rowspan="2">
            ⑫<br>사업자<br>등록번호
          </th>
          <th rowspan="2">
            ⑬ 상 호<br>(법인명)
          </th>
          <th rowspan="2">
            ⑭<br>매수
          </th>
          <th colspan="5" style="border: 0vw; border-right: 1px solid black;">⑮ 공급가액</th>
          <!-- <th></th>
          <th></th>
          <th></th>
          <th></th> -->
          <th colspan="5" style="border: 0vw">⑯ 세액</th>
          <!-- <th></th>
          <th></th>
          <th></th>
          <th></th> -->
          <th rowspan="2">비고</th>
        </tr>
        <tr>
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <!-- <td></td> -->
          <td style="width: 5%; border: 0vw; ">조</td>
          <td style="width: 5%; border: 0vw; ">십억</td>
          <td style="width: 5%; border: 0vw; ">백만</td>
          <td style="width: 5%; border: 0vw; ">천</td>
          <td style="width: 5%; border: 0vw; border-right: 1px solid black">일</td>
          <td style="width: 5%; border: 0vw; ">조</td>
          <td style="width: 5%; border: 0vw; ">십억</td>
          <td style="width: 5%; border: 0vw; ">백만</td>
          <td style="width: 5%; border: 0vw; ">천</td>
          <td style="width: 5%; border: 0vw; ">일</td>
          <!-- <td></td> -->
        </tr>
        <tr>
          <td>1</td>
          <td>101-01-xxxxx</td>
          <td>성실제품</td>
          <td>3</td>
          <td></td>
          <td></td>
          <td>120</td>
          <td>000</td>
          <td>000</td>
          <td></td>
          <td></td>
          <td>12</td>
          <td>000</td>
          <td>000</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>101-02-xxxxx</td>
          <td>성실자동차</td>
          <td>1</td>
          <td></td>
          <td></td>
          <td>10</td>
          <td>000</td>
          <td>000</td>
          <td></td>
          <td></td>
          <td>1</td>
          <td>000</td>
          <td>000</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </table>
    </div>

    <div class="row13 flex-row">
      <div class="wrapper flex-row">
        <div class="number flex-row">⑰ 관리번호(매입)</div>
        <div class="input flex-row">
          <span>123</span>
          <span>-</span>
          <span>123</span>
        </div>
      </div>
    </div>

    <div class="page-size-label">
      210mm×297mm[백상지 80g/㎡ 또는 중질지 80g/㎡]
    </div>
    <div style="page-break-before:always;"></div>
  </div>

  <div class="content">
    <div class="row14 flex-row">
      (뒤쪽)
    </div>

    <div class="row15">
      작 성 방 법
    </div>

    <div class="row16">
      <div>
        이 합계표는 아래의 작성방법에 따라 한글과 아라비아숫자로 정확하고 선명하게 적어야 하며, 공급가액과 세액은 원 단위까지 표시하여야 합니다.
      </div>
      <div class="comment">
        ①~④: 제출자의 사업자등록증에 적힌 사업자등록번호(또는 고유번호), 상호(법인명), 성명(대표자), 사업장 소재지를 적습니다.
      </div>
      <div class="comment">
        ⑤: 신고대상기간을 적습니다(예시: 2010년 1월 1일 ~ 2010년 6월 30일).
      </div>
      <div class="comment">
        ⑥: 이 합계표를 작성하여 제출하는 연월일을 적습니다.
      </div>
      <div class="comment">
        ⑦~⑩: 합계란에는 과세기간 종료일 다음 달 11일까지 전송된 전자세금계산서 발급분 소계와 위 전자세금계산서 외의 발급분 소계의 단순합계를 적습니다.
        과세기간 종료일 다음 달 11일까지 전송된 전자세금계산서 발급분: 전자적으로 발급하고, 과세기간(예정신고대상자의 경우 예정신고기간) 종료일 다음 달 11일(토요일, 공휴일인 경우에는 그 다음 날)까지 국세청에 전송된 매출세금계산서에 대한 매출처 수, 총매수, 총공급가액 및 총세액을 적습니다.
        위 전자세금계산서 외의 발급분: 종이로 발급한 세금계산서, 전자적으로 발급하였으나 그 개별명세를 과세기간(예정신고대상자의 경우 예정신고기간) 종료일 다음 달 11일(토요일, 공휴일인 경우에는 그 다음 날)까지 국세청에 전송하지 않은 전자세금계산서 또는 매입자발행세금계산서제도에 따라 매입자가 발급한 매입자발행세금계산서에 대한 매출처 수, 총매수, 총공급가액 및 총세액을 적습니다.
      </div>
      <div class="comment">
        ⑪: 과세기간 종료일 다음 달 11일까지 전송된 전자세금계산서 외 발급분 매출처별 명세에는 위 전자세금계산서 외의 발급분에 대한 각각의 매출처별로 1번부터 순위를 부여하여 마지막까지 순서대로 적습니다[매출처별 세금계산서합계표(갑)서식을 초과하는 매출처별 거래분에 대해서는 매출처별 세금계산서합계표(을)서식에 연속하여 적습니다].
        ※ 사업자등록번호로 발급한 분만 해당하며 주민등록번호로 발급한 분에 대해서는 적지 않습니다.
      </div>
      <div class="comment">
        ⑫ㆍ⑬: 위 전자세금계산서 외의 발급분 세금계산서의 거래처(공급받는 자) 사업자등록번호와 상호(법인명)를 적습니다.
      </div>
      <div class="comment">
        ⑭~⑯: 위 전자세금계산서 외의 발급분 세금계산서를 거래처(공급받는 자)별로 더한 세금계산서 매수, 공급가액, 세액을 적습니다. 수정세금계산서의 경우에도 매수와 금액을 더하여 적습니다(예정신고 누락분을 확정신고 시 제출하는 경우에는 거래처에 합하여 적되, 부가가치세 신고서에는 구분하여 적습니다).
      </div>
      <div class="comment">
        ⑰: 사업자가 적지 않습니다(권번호-페이지번호).
      </div>
      <div class="sub-comment">
        ※ 3. 과세기간 종료일 다음 날 11일까지 전송된 전자세금계산서 외 발급분 매출처가 6개를 초과하는 경우 『매출처별 세금계산서합계표(을)』[별지 제38호서식(2)]에 이어서 작성합니다.
      </div>
        
    </div>

  </div>


</body>

</html>