* {
  font-size: 1.5vw;
  font-family: 'Nanum Gothic';
}

body {
  width: 100vw;
}

.content {
  padding: 1vw 5vw;
  width: 100vw;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide {
  position: absolute;
  top: 145vw;
  width: 100vw;
  height: 1vw;
  border-top: 3px solid red;
}

.page-size-label {
  text-align: right;
}

.no-border-bottom {
  border-bottom: 0px;
}

.text-left {
  text-align: left !important;
}

.row01 {
  justify-content: space-between;
  margin-bottom: 2vw;
  padding-bottom: 1vw;
  border-bottom: 0.1pt solid black;
}

.row02 {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.row03 {
  margin-bottom: 1vw;
}

.row04 {
  justify-content: flex-end;
  border-top: 0.1pt solid black;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row04 .inc-number-wrapper {
  border: 0.1pt solid black;
  width: 50%;
}

.row04 .inc-number-wrapper .label {
  height: 4vw;
  width: 40%;
  border-right: 0.1pt solid black;
}

.row04 .inc-number-wrapper .data {
  height: 4vw;
  width: 60%;
}

.row05 table {
  width: 100%;
  border: 0.1pt solid black;
  border-left: 0vw;
  border-right: 0vw;
  border-collapse: collapse;
}

.row05 th, .row05 td {
  border: 0.1pt solid black;
  text-align: center;
  font-weight: 500;
}

.row05 th:first-child, .row05 td:first-child {
  border-left: 0vw;
}

.row05 th:last-child, .row05 td:last-child {
  border-right: 0vw;
}

.row05 th {
  padding: 0.5vw;
}

.row05 td {
  height: 4vw;
}

.row06 {
  text-align: center;
  font-size: 2vw;
  background-color: #f5f5f5;
  border-top: 0.1pt solid black;
  padding: 1vw 1vw;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.row08 {
  text-align: right;
  border-bottom: 0.1pt solid black;
  width: 100%;
  padding-bottom: 0.5vw;
  margin-top: 2vw;
  justify-content: flex-end;
}

.row09 {
  justify-content: flex-start;
  padding: 2vw;
  border-bottom: 0.1pt solid black;
  margin-bottom: 2vw;
}

.row09 .wrapper {
  width: 35vw;
  height: 4vw;
  border: 0.1pt solid black;
  justify-content: space-between;
}

.row09 .wrapper .number {
  width: 50%;
  height: 100%;
  border-right: 0.1pt solid black;
}

.row09 .wrapper .input {
  width: 50%;
}
/*# sourceMappingURL=doc08-sub.css.map */