* {
  font-size: 1.5vw;
  font-family: 'Nanum Gothic';
}

body {
  width: 100vw;
}

.content {
  padding: 1vw 5vw;
  width: 100vw;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide {
  position: absolute;
  top: 145vw;
  width: 100vw;
  height: 1vw;
  border-top: 3px solid red;
}

.page-size-label {
  text-align: right;
}

.no-border-bottom {
  border-bottom: 0px;
}

.text-left {
  text-align: left !important;
}

.row01 {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2vw;
}

.row01 span {
  font-size: 1vw;
}

.row02 {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.row03 {
  margin-bottom: 1vw;
}

.row04 {
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.row05 {
  justify-content: flex-start;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row06 {
  flex-wrap: wrap;
  margin-bottom: 1vw;
}

.row06 div {
  box-sizing: border-box;
}

.row06 .box {
  border-bottom: 0.1pt solid black;
  font-size: 1.5vw;
}

.row06 .box .label {
  width: 100%;
  padding: 0.5vw 1vw;
  text-align: left;
  font-size: 1.5vw;
}

.row06 .box .data {
  width: 100%;
  padding: 1vw 0vw;
  padding-right: 4vw;
  text-align: right;
  font-size: 1.5vw;
}

.row06 .left {
  width: 60%;
  border-right: 0.1pt solid black;
}

.row06 .right {
  width: 40%;
}

.row07 {
  justify-content: flex-start;
  border-top: 0.75px solid black;
  border-bottom: 0vw;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row08 {
  margin-bottom: 1vw;
}

.row08 table {
  width: 100%;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  border-collapse: collapse;
}

.row08 table th, .row08 table td {
  border: 0.5px solid black;
  height: 4vw;
  text-align: center;
}

.row08 table th.label, .row08 table td.label {
  text-align: left;
}

.row08 table th:first-child, .row08 table td:first-child {
  border-left: 0vw;
}

.row08 table th:last-child, .row08 table td:last-child {
  border-right: 0vw;
}

.row09 {
  justify-content: flex-start;
  border-top: 0.75px solid black;
  border-bottom: 0vw;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row10 {
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  margin-bottom: 10vw;
}

.row10 > div {
  width: 25%;
  text-align: center;
  height: 5vw;
  border-right: 0.1pt solid black;
}

.row11 {
  text-align: center;
  font-size: 2vw;
  background-color: #f5f5f5;
  border-top: 0.1pt solid black;
  padding: 1vw 1vw;
}

.row12 {
  border-bottom: 0.1pt solid black;
  margin-bottom: 2vw;
}

.row12 .comment {
  text-indent: -2vw;
  padding-left: 2vw;
  margin: 1vw;
  line-height: 2vw;
}
/*# sourceMappingURL=doc18.css.map */