* {
  font-size: 1.5vw;
  font-family: 'Nanum Gothic';
}

body {
  width: 100vw;
}

.content {
  padding: 1vw 5vw;
  width: 100vw;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide {
  position: absolute;
  top: 145vw;
  width: 100vw;
  height: 1vw;
  border-top: 3px solid red;
}

.page-size-label {
  text-align: right;
}

.no-border-bottom {
  border-bottom: 0px;
}

.text-left {
  text-align: left !important;
}

.row01 {
  justify-content: space-between;
  margin-bottom: 3vw;
}

.row02 {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.row03 {
  margin-bottom: 1vw;
}

.row04 {
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.row05 {
  justify-content: flex-start;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  font-size: 2vw;
  background-color: #f5f5f5;
  margin-bottom: 1vw;
}

.row05 div {
  padding: 1vw 1vw;
  height: 100%;
  justify-content: flex-start;
}

.row05 div span:first-child {
  margin-right: 2vw;
}

.row05 .number {
  width: 30%;
}

.row05 .date {
  width: 40%;
}

.row05 .suspense {
  width: 30%;
  border-left: 0.1pt solid black;
}

.row06 {
  justify-content: flex-start;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row07 {
  flex-wrap: wrap;
  margin-bottom: 1vw;
}

.row07 div {
  box-sizing: border-box;
}

.row07 .box {
  border-bottom: 0.1pt solid black;
  font-size: 1.5vw;
}

.row07 .box .label {
  width: 100%;
  padding: 0.5vw 1vw;
  text-align: left;
  font-size: 1.5vw;
}

.row07 .box .data {
  width: 100%;
  padding: 1vw 0vw;
  padding-right: 4vw;
  text-align: right;
  font-size: 1.5vw;
}

.row07 .left {
  width: 60%;
  border-right: 0.1pt solid black;
}

.row07 .right {
  width: 40%;
}

.row08 {
  justify-content: flex-start;
  border-top: 0.75px solid black;
  border-bottom: 0vw;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row09 table {
  width: 100%;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  border-collapse: collapse;
}

.row09 table th, .row09 table td {
  border: 0.5px solid black;
  height: 5vw;
  text-align: center;
}

.row09 table th.label, .row09 table td.label {
  text-align: left;
}

.row09 table th:first-child, .row09 table td:first-child {
  border-left: 0vw;
}

.row09 table th:last-child, .row09 table td:last-child {
  border-right: 0vw;
}

.row09 table .col1 {
  width: 40%;
}

.row09 table .col2 {
  width: 15%;
}

.row09 table .col3 {
  width: 15%;
}

.row09 table .col4 {
  width: 15%;
}

.row09 table .col5 {
  width: 15%;
}

.row10 {
  padding: 0.5vw 1vw;
  line-height: 2.5vw;
}

.row11 {
  padding-bottom: 2vw;
  text-align: right;
}

.row11 .unit {
  margin-right: 1.5vw;
}

.row12 {
  padding: 0.5vw 1.5vw;
  align-items: flex-end;
}

.row12 div {
  text-align: right;
}

.row12 .label {
  font-size: 2vw;
  width: 50%;
}

.row12 .name {
  font-size: 2vw;
  width: 30%;
}

.row12 .stamp {
  font-size: 1.5vw;
  width: 20%;
}

.row13 {
  text-align: left;
  border-bottom: 0.1pt solid black;
  padding: 0.5vw 1vw;
  margin-bottom: 1vw;
}

.row13 .data {
  width: 5%;
  font-size: 2vw;
  font-weight: 500;
}

.row13 .label {
  width: 95%;
}

.row13 .label span:first-child {
  font-size: 2vw;
  font-weight: 500;
}

.row14 {
  text-align: center;
  font-size: 2vw;
  background-color: #f5f5f5;
  border-top: 0.1pt solid black;
  padding: 1vw 1vw;
}

.row15 {
  border-bottom: 0.1pt solid black;
  padding: 1vw 0vw;
  margin-bottom: 1vw;
}

.row15 .note {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1vw;
}

.row15 .note span:first-child {
  margin-right: 1vw;
}

.row16 {
  text-align: right;
}
/*# sourceMappingURL=doc10.css.map */