* {
  font-size: 1.5vw;
  font-family: 'Nanum Gothic';
}

body {
  width: 100vw;
}

.content {
  padding: 1vw 5vw;
  width: 100vw;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide {
  position: absolute;
  top: 145vw;
  width: 100vw;
  height: 1vw;
  border-top: 3px solid red;
}

.page-size-label {
  text-align: right;
}

.no-border-bottom {
  border-bottom: 0px;
}

.text-left {
  text-align: left !important;
}

.row01 {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2vw;
}

.row01 span {
  font-size: 1vw;
}

.row02 {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.row03 {
  margin-bottom: 1vw;
}

.row04 {
  justify-content: space-between;
  margin-bottom: 0.5vw;
}

.row05 {
  justify-content: flex-start;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row06 {
  flex-wrap: wrap;
  margin-bottom: 1vw;
}

.row06 div {
  box-sizing: border-box;
}

.row06 .box {
  border-bottom: 0.1pt solid black;
  font-size: 1.5vw;
  height: 6vw;
}

.row06 .box .label {
  width: 100%;
  padding: 0.5vw 1vw;
  text-align: left;
  font-size: 1.5vw;
}

.row06 .box .data {
  width: 100%;
  padding: 0.1vw 0vw;
  padding-right: 4vw;
  text-align: right;
  font-size: 1.5vw;
}

.row06 .inc-number-label {
  border-bottom: 0px;
}

.row06 .inc-number-data .data {
  font-size: 2vw;
}

.row06 .left {
  width: 60%;
  border-right: 0.1pt solid black;
}

.row06 .right {
  width: 40%;
}

.row07 {
  justify-content: flex-start;
  border-top: 0.75px solid black;
  border-bottom: 0vw;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row08 {
  margin-bottom: 1vw;
}

.row08 table {
  width: 100%;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  border-collapse: collapse;
}

.row08 table th, .row08 table td {
  border: 0.5px solid black;
  height: 3vw;
  text-align: center;
}

.row08 table th.label, .row08 table td.label {
  text-align: left;
}

.row08 table th:first-child, .row08 table td:first-child {
  border-left: 0vw;
}

.row08 table th:last-child, .row08 table td:last-child {
  border-right: 0vw;
}

.row08 table .col1 {
  width: 40%;
}

.row08 table .col2 {
  width: 15%;
}

.row08 table .col3 {
  width: 15%;
}

.row08 table .col4 {
  width: 15%;
}

.row08 table .col5 {
  width: 15%;
}

.row09 {
  justify-content: flex-start;
  border-top: 0.75px solid black;
  border-bottom: 0vw;
  padding: 2vw 0vw;
  font-size: 2vw;
}

.row10 table {
  width: 100%;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  border-collapse: collapse;
}

.row10 table th, .row10 table td {
  border: 0.5px solid black;
  height: 3vw;
  text-align: center;
}

.row10 table th.label, .row10 table td.label {
  text-align: left;
}

.row10 table th:first-child, .row10 table td:first-child {
  border-left: 0vw;
}

.row10 table th:last-child, .row10 table td:last-child {
  border-right: 0vw;
}

.row10 table .col1 {
  width: 40%;
}

.row10 table .col2 {
  width: 15%;
}

.row10 table .col3 {
  width: 15%;
}

.row10 table .col4 {
  width: 15%;
}

.row10 table .col5 {
  width: 15%;
}

.row11 {
  padding: 1vw 1vw;
  font-size: 1.5vw;
}

.row12 {
  text-align: right;
  border-bottom: 3px solid #999999;
  width: 100%;
  padding-bottom: 0.5vw;
  margin-bottom: 10vw;
}

.row13 {
  padding: 1vw 0vw;
  background-color: #f5f5f5;
  border-top: 2px solid #999999;
  margin-bottom: 2vw;
}

.row14 {
  box-sizing: border-box;
  padding: 0vw 2vw;
}

.row14 .label {
  margin-bottom: 2vw;
  margin-top: 2vw;
  font-size: 2vw;
}

.row14 .comment {
  justify-content: flex-start;
  margin-bottom: 1vw;
}

.row14 .comment .number {
  margin-right: 0.5vw;
}

.row14 .sub-comment {
  margin-bottom: 1vw;
}

.row15 {
  box-sizing: border-box;
  padding: 0vw 2vw;
  margin-top: 5vw;
}

.row15 .title {
  font-size: 2vw;
  margin-bottom: 1vw;
}

.row15 .ex-wrapper {
  border: 1px solid black;
  border-bottom: 0px;
}

.row15 .ex-wrapper .ex-title {
  padding: 1vw 1vw;
  font-size: 2vw;
}

.row15 .ex-wrapper table.table01 {
  width: 100%;
  border-top: 0.1pt solid black;
  border-bottom: 0.1pt solid black;
  border-collapse: collapse;
}

.row15 .ex-wrapper table.table01 th, .row15 .ex-wrapper table.table01 td {
  border: 0.5px solid black;
  height: 3vw;
  text-align: center;
}

.row15 .ex-wrapper table.table01 th.label, .row15 .ex-wrapper table.table01 td.label {
  text-align: left;
}

.row15 .ex-wrapper table.table01 th:first-child, .row15 .ex-wrapper table.table01 td:first-child {
  border-left: 0vw;
}

.row15 .ex-wrapper table.table01 th:last-child, .row15 .ex-wrapper table.table01 td:last-child {
  border-right: 0vw;
}

.row16 {
  margin-top: 3vw;
  border-bottom: 3px solid #999999;
  width: 100%;
}
/*# sourceMappingURL=doc11.css.map */