
$border1: 0.1pt;
$border2: 0.50px;
$border3: 0.75px;

$font1: 0.5vw;
$font2: 1.5vw;
$font3: 2vw;

$pageTitle: 3vw;
$label: 2vw;

* {
  font-size: $font2;
  font-family: 'Nanum Gothic';
}
body{
  width: 100vw;
}
.content{
  padding: 1vw 5vw;
  width: 100vw;
  box-sizing: border-box;
}
.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guide{
  position:absolute;
  top:145vw;
  width:100vw; 
  height:1vw;
  border-top:3px solid red;
}
.page-size-label{
  text-align: right;
}

.no-border-bottom{
  border-bottom: 0px;
}

.text-left{
  text-align: left !important;
}

// @media print
// {    
//   .no-print, .no-print *
//   {
//     display: none !important;
//   }
// }